extends ../base

block content
    form(method="POST")
        input(name="Currentpw", placeholder="Old password")
        input(name="Newepw", placeholder="New password")
        input(name="Confirmpw", placeholder="Confirm password Confirmation")
        input(value="change password", type="submit")

